
h1 {
    text-align: center;
}
table {
    border-collapse: collapse;
    margin-left: 40%;
    margin-right: 40%;
}
td, th {
    border: 1px solid gray;
    padding: 10px ;
}
p {
    font-size: 30px;
}
section{
    margin-bottom: 5%;
}
.web-name{
    margin-right: 70%;
    margin-left: 5%;
}
header{
    background-color: lightslategray;
    color: white;
}